<mfx-2player listen="class | animate">
  <app-box title="testing momentum">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nibh ac augue egestas pellentesque. Cras aliquam arcu a justo malesuada, vel eleifend mi finibus. Suspendisse eu nunc nibh. Nunc a turpis eu eros vehicula auctor sed ac dolor. Mauris scelerisque mi et lacus dignissim posuere. Duis eu purus non diam mattis venenatis congue ut ex. Morbi lacinia turpis et mi pharetra, ac iaculis risus condimentum. Sed pharetra vel erat non pretium. Aenean a neque ut augue consectetur vulputate in id nisi. Quisque viverra turpis eget sapien faucibus, vitae viverra nisl sagittis.
  </app-box>
</mfx-2player>

<script>
</script>